body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

}

.style {
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(to bottom, #3498db, #2980b9);

    color: white;

    padding: 5px;

}


.Select {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

}

.space {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.space1 {
    margin-left: 20px;

}

.t {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


input[type="radio"] {
    margin-right: 5px;
}


.title {
    width: 95%;
    padding: 10px;
    margin: 2px 0;

    border-radius: 4px;
    box-sizing: border-box;

    font-size: 15px;

    position: relative;
    margin-bottom: 30px;


}


.img {

    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s;



    &:hover {
        background-color: #0056b3;

    }
}

.clicks {
    margin-top: 10px;
}


.content {

    width: 95%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;

    border-radius: 4px;
    box-sizing: border-box;
}

b {
    font-size: 20px;
}

.bottom {
    margin-top: 30px;
    font-size: 20px;
}

.abs {
    font-size: 20px;


}

.bottom4 {
    width: 95%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;

    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;

}


.bottom2 {
    width: 95%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;

    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;

}


p {
    color: red;
    text-align: center;
    margin-top: 10px;
}


.button-container {
    text-align: center;
    margin-top: 20px;

}

.diya {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;


}

.bottom1 {
    width: 95%;

    margin: 10px 0;

    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;



}



.button-container-1 {
    margin-left: 44%;
    gap: 5px;

    margin-top: 10px;
    display: flex;
    flex-direction: row;

    padding-bottom: 20px;

}

.button1,
.button2 {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}
